<!DOCTYPE html>
<html>
    <head>
        <title>My Layout</title>
        <link rel="icon" href="image/logo.jpg">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>
        <nav>
            <h1>Navigation</h1>
        </nav>
        <section>
            <div class="start">
                <div class="up">
                    <h1>Section</h1>
                </div>
                <div class="down">
                    <h1>Artical</h1>
                </div>
            </div>
            <div class="end">
                <h1>Aside</h1>
            </div>
        </section>
        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>